<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Cup</title>
    <link rel="stylesheet" href="/public/css/ideal_worldcup/result.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%- include('../layout/stylesheet');  %> 

</head>
<body>
    <!-- nav file -->
    <%- include('../layout/nav');  %> 

    <div class="container margin">
        <table class="table table-hover text-center">
            <thead class="thead-ss-light">
                <tr>
                    <th>교수님</th>
                    <th>과목</th>
                    <th>성함</th>
                    <th>선택 수</th>
                </tr>
            </thead>
            <tbody >
            <% professors.forEach(element => { %>
                <tr>
                    <td><img src = "<%= element.resultImage %>"></a></td>
                    <td class = "table-result"><%= element.subject %></td>
                    <td class = "table-result"><%= element.name %></td>
                    <td class = "table-result"><%- element.winning %></td>                    
                </tr>
            <%  }); %>
            </tbody>
        </table>
    </div>

    <!-- footer file -->
    <%- include('../layout/footer');  %>

    <!-- script file -->
    <%- include('../layout/script');  %>
</body>
</html>