<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Cup</title>
    <link rel="stylesheet" href="/public/css/ideal_worldcup/result.css">
    <%- include('../layout/stylesheet');  %> 

</head>
<body>
    <!-- nav file -->
    <%- include('../layout/nav');  %> 

    <div class="container margin">
        <div class="container container-result bg-dark">
            <h1 class="text-center text-result">당신의 <strong>♥교수님♥</strong>은..<span class="text-professor"><strong>컴퓨터 구조의 정규식 교수님</strong></span></h1>
        </div>        
        <div class="parents">
            <img class="img-child" src="/public/images/idealworldcup_img/rank1_professor.png" alt="rank1_professor">
            <h1 class="text-child" ></h1>
            <img src="/public/images/professor/정규식교수님2.jpg" alt="정규식교수님" width="100%">
        </div>
    </div>
    <% professors.forEach(element => { %>
        [<%= element._id %>, <%= element.name %>, <%- element.winning %>] 
    <% }); %> 

    <!-- footer file -->
    <%- include('../layout/footer');  %>

    <!-- script file -->
    <%- include('../layout/script');  %>
</body>
</html>