<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Cup</title>
    <link rel="stylesheet" href="/public/css/ideal_worldcup/worldcup.css">
    <%- include('../layout/stylesheet');  %> 

</head>
<body>
    <!-- nav file -->
    <%- include('../layout/nav');  %> 

    <!-- worldcup container file -->
    <%- include('./worldcup_container'); %> 

    <!-- footer file -->
    <%- include('../layout/footer');  %>

    <!-- script file -->
    <%- include('../layout/script');  %>

    <script>
        var round = 8;
        var i = 1;
        var professorList ={
    "professors": [
        {
            "id": "0",
            "name": "김강희",
            "image": "/public/images/professor/김강희교수님.jpg",
            "resultImage": "/public/images/professor/김강희교수님2.jpg",
            "subject": [ "자료구조" ]
        },{
            "id": "1",
            "name": "노동건",
            "image": "/public/images/professor/노동건교수님.jpg",
            "resultImage": "/public/images/professor/노동건교수님2.jpg",
            "subject": [ "센서네트워크" ]
        },{
            "id": "2",
            "name": "손장우",
            "image": "/public/images/professor/손장우교수님.jpg",
            "resultImage": "/public/images/professor/손장우교수님2.jpg",
            "subject": [ "전자전기회로실험" ]
        },{
            "id": "3",
            "name": "신동화",
            "image": "/public/images/professor/신동화교수님.png",
            "resultImage": "/public/images/professor/신동화교수님2.png",
            "subject": [ "마이크로프로세서응용" ]
        },{
            "id": "4",
            "name": "윤익준",
            "image": "/public/images/professor/윤익준교수님.jpg",
            "resultImage": "/public/images/professor/윤익준교수님2.jpg",
            "subject": [ "IoT프로그래밍" ]
        },{
            "id": "5",
            "name": "윤진혁",
            "image": "/public/images/professor/윤진혁교수님.jpg",
            "resultImage": "/public/images/professor/윤진혁교수님2.jpg",
            "subject": [ "확률과통계" ]
        },{
            "id": "6",
            "name": "이길호",
            "image": "/public/images/professor/이길호교수님.jpg",
            "resultImage": "/public/images/professor/이길호교수님2.jpg",
            "subject": [ "알고리즘" ]
        },{
            "id": "7",
            "name": "이은지",
            "image": "/public/images/professor/이은지교수님.JPG",
            "resultImage": "/public/images/professor/이은지교수님2.jpg",
            "subject": [ "운영체제" ]
        },{
            "id": "8",
            "name": "정규식",
            "image": "/public/images/professor/정규식교수님.jpg",
            "resultImage": "/public/images/professor/정규식교수님2.jpg",
            "subject": [ "컴퓨터구조" ]
        },{
            "id": "9",
            "name": "정선태",
            "image": "/public/images/professor/정선태교수님.jpg",
            "resultImage": "/public/images/professor/정선태교수님2.jpg",
            "subject": [ "이산수학" ]
        },{
            "id": "10",
            "name": "한상호",
            "image": "/public/images/professor/한상호교수님.jpg",
            "resultImage": "/public/images/professor/한상호교수님2.PNG",
            "subject": [ "웹프로그래밍" ]
        },{
            "id": "11",
            "name": "한영준",
            "image": "/public/images/professor/한영준교수님.jpg",
            "resultImage": "/public/images/professor/한영준교수님2.jpg",
            "subject": [ "인공지능" ]
        }
    ]
  
};
        var selectedProfessor = [];
        var leftProfessor = professorList.professors[ (i-1) * 2 ];
        var rightProfessor = professorList.professors[ i*2 - 1];
        var professor_id = 0;

        /* 교수님 정보를 통해 이미지, 텍스트 등 채움 */
        document.getElementById("round-title").innerHTML = "과목+교수님 월드컵 " + round + "강 [" + i +"/" + round/2 + "]";
        document.getElementById("leftText").innerHTML = leftProfessor.subject[0] + " " + leftProfessor.name + " 교수님";
        document.getElementById("rightText").innerHTML = rightProfessor.subject[0] + " " + rightProfessor.name + " 교수님";
        document.getElementById("leftImage").src = leftProfessor.image;
        document.getElementById("rightImage").src = rightProfessor.image;

        function clickProfessor(professor) 
        {
            /* 왼쪽/오른쪽에 따라서 교수님 순서(professorList index) 판단 */
            if (professor == "leftProfessor") {
                professorList_i = (i-1) * 2;
            }
            else {
                professorList_i = i*2 - 1;
            }

            // 교수님 id 추출
            professor_id = professorList.professors[professorList_i].id;

            // 선택된 교수님 목록에 push 
            selectedProfessor.push(professorList.professors[professorList_i]);
           

            if ( round == 2 ) { // 마지막 round
                alert(selectedProfessor[0].name + "교수님 (확인용으로 출력. 이후 삭제할 것.)");
                location.href='/ideal_worldcup/result';
                // POST : key -> 'professor_id', value -> _id;
            }
            if ( round / 2 == i ) { // 다음 강
                round /= 2;
                i = 1;
                professorList.professors = selectedProfessor; // professorList 갱신
                selectedProfessor = [];
            }
            else { 
                i += 1;
            }
            
            leftProfessor = professorList.professors[ (i-1) * 2 ];
            rightProfessor = professorList.professors[ i*2 - 1];

            console.log("click professor id : " + professor_id);
            console.log("i : " + i);
            console.log("round : " + round);

            document.getElementById("round-title").innerHTML = "과목+교수님 월드컵 " + round + "강 [" + i +"/" + round/2 + "]";
            document.getElementById("leftText").innerHTML = leftProfessor.subject[0] + " " + leftProfessor.name + " 교수님";
            document.getElementById("rightText").innerHTML = rightProfessor.subject[0] + " " + rightProfessor.name + " 교수님";
            document.getElementById("leftImage").src = leftProfessor.image;
            document.getElementById("rightImage").src = rightProfessor.image;

        }
    </script>
    
</body>
</html>