<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Cup</title>
    <link rel="stylesheet" href="/public/css/ideal_worldcup/worldcup.css">
    <%- include('../layout/stylesheet');  %> 

</head>
<body>
    <!-- nav file -->
    <%- include('../layout/nav');  %> 

    <!-- worldcup container file -->
    <%- include('./worldcup_container'); %> 

    <!-- footer file -->
    <%- include('../layout/footer');  %>

    <!-- script file -->
    <%- include('../layout/script');  %>
    

    <script>
        // 0 ~ n 까지 랜덤하게 n개의 숫자 배열 return
        function shuffleRandom(n){
            var ar = new Array();
            var temp;
            var rnum;

            for(var i=0; i<n; i++) {
                ar.push(i);
            }

            for(var i=0; i< ar.length ; i++)
            {
                rnum = Math.floor(Math.random() *n);
                temp = ar[i];
                ar[i] = ar[rnum];
                ar[rnum] = temp;
            }

            return ar;
        }

        var round = 8;
        var i = 1;
        var professorList_original = {};
        var professorList = {professors: []};

        // professors list 요청
        $.ajax({
            url : '/ideal_worldcup/professors',
            dataType: 'json',
            async: false,
            success: function(professors) {
                console.log("Get professors list successfully.");
                professorList_original = professors;
            }
        });
        
        // randomNum을 교수님 수만큼 뽑는다.
        var randomNum = shuffleRandom(professorList_original.professors.length);

        // randomNum array의 앞의 8개 숫자에 맞는 항을 뽑아 professorList를 재구성한다.
        for (var j = 0; j < 8; j++) {
            professorList.professors.push(professorList_original.professors[randomNum[j]]);
        }

        var selectedProfessor = [];
        var leftProfessor = professorList.professors[ (i-1) * 2 ];
        var rightProfessor = professorList.professors[ i*2 - 1];
        var professor_id;

        /* 교수님 정보를 통해 이미지, 텍스트 등 채움 */
        document.getElementById("round-title").innerHTML = "과목+교수님 월드컵 " + round + "강 [" + i +"/" + round/2 + "]";
        document.getElementById("leftText").innerHTML = leftProfessor.subject[0] + " " + leftProfessor.name + " 교수님";
        document.getElementById("rightText").innerHTML = rightProfessor.subject[0] + " " + rightProfessor.name + " 교수님";
        document.getElementById("leftImage").src = leftProfessor.image;
        document.getElementById("rightImage").src = rightProfessor.image;

        function clickProfessor(professor) 
        {
            /* 왼쪽/오른쪽에 따라서 교수님 순서(professorList index) 판단 */
            if (professor == "leftProfessor") {
                professorList_i = (i-1) * 2;
            }
            else {
                professorList_i = i*2 - 1;
            }

            // 교수님 id 추출
            professor_id = professorList.professors[professorList_i]._id;

            // 선택된 교수님 목록에 push 
            selectedProfessor.push(professorList.professors[professorList_i]);

            if ( round == 2 ) { // 마지막 round
                // 최종으로 선택된 교수님 alert 메시지로 출력 
                alert("당신의 ♥교수님♥은... " + selectedProfessor[0].subject[0] + "의 " + selectedProfessor[0].name + "교수님");
                $.ajax({
                    type: 'POST',
                    url: '/ideal_worldcup/result',
                    data: {professor_id : professor_id},
                    success: function(professors) {
                        console.log("Send result successfully.");
                    }
                });
                location.href='/ideal_worldcup/result';
            }
            if ( round / 2 == i ) { // 다음 강
                round /= 2;
                i = 1;
                professorList.professors = selectedProfessor; // professorList 갱신
                selectedProfessor = [];
            }
            else { 
                i += 1;
            }
            
            leftProfessor = professorList.professors[ (i-1) * 2 ];
            rightProfessor = professorList.professors[ i*2 - 1];

            console.log("click professor id : " + professor_id);
            console.log("i : " + i);
            console.log("round : " + round);

            document.getElementById("round-title").innerHTML = "과목+교수님 월드컵 " + round + "강 [" + i +"/" + round/2 + "]";
            document.getElementById("leftText").innerHTML = leftProfessor.subject[0] + " " + leftProfessor.name + " 교수님";
            document.getElementById("rightText").innerHTML = rightProfessor.subject[0] + " " + rightProfessor.name + " 교수님";
            document.getElementById("leftImage").src = leftProfessor.image;
            document.getElementById("rightImage").src = rightProfessor.image;
        }
    </script>
    
</body>
</html>