<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Cup</title>
    <link rel="stylesheet" href="/public/css/ideal_worldcup/worldcup.css">
    <%- include('../layout/stylesheet');  %> 

</head>
<body>
    <!-- nav file -->
    <%- include('../layout/nav');  %> 

    <!-- worldcup container file -->
    <%- include('./worldcup_container'); %> 

    <!-- footer file -->
    <%- include('../layout/footer');  %>

    <!-- script file -->
    <%- include('../layout/script');  %>

    <script>
        var round = 8;
        var i = 1;
        app.locals.professors = require('../../config/initial_data/professor.json')
        <% professors[0].name %>
    </script>
    
</body>
</html>