<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board</title>
    <%- include('../layout/stylesheet');  %> 
    <link rel="stylesheet" type="text/css" href="/public/css/board/list.css">
</head>
<body>
    <!-- nav file -->
    <%- include('../layout/nav');  %>
    
    <!-- list container file -->
    <%- include('./list_container'); %>

    <!-- footer file -->
    <%- include('../layout/footer');  %>
    
    <!-- script file -->   
    <%- include('../layout/script');  %>  
	</body>
</html>


