<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>게시판</title>
	<link rel="stylesheet" type="text/css" href="/public/css/board/show.css">
    <%- include('../layout/stylesheet');  %> 
</head>
<body>
    <!-- nav file -->
    <%- include('../layout/nav');  %>

    <main class="container my-3">
        <h1 class="p-4 text-white text-center rounded board-banner">게시판</h1>
        <div class="card my-3">
            <form class="card-body" method="post" action="/board/write">
                <div class="form-group">
                    <div class="field">
                        <label for="title" class="font-weight-bold">제목</label>
                        <p class="text-justify"><%= post.title %></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="field">
                        <label for="title" class="font-weight-bold">조회수</label>
                        <p class="text-justify"><%= post.hits %></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contents" class="font-weight-bold">내용</label>
                    <div class="text-justify"><%- post.contents %></div>	
                </div>
                <div class="form-row justify-content-end">	
                    <div class="col-auto">
                        <a href="/board" class="btn btn-ss-light-blue" >목록</a>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <!-- footer file -->
    <%- include('../layout/footer');  %>

    <!-- script file -->  
    <%- include('../layout/script');  %>
    <script src="/public/cleditor/jquery.cleditor.js"></script>  
</body>
</html> 